img{
    height: 100% !important;
    width: 100%;
}
.election_close{
    pointer-events: none;
    opacity: 0.5;
    background: #CCC;
}
.result_link{
    display: none;
}
.win_img{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
}
/* profile.php */
.edit_profile {
    position: absolute;
    top: 38%;
    left: 20%;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background: rgba(255, 255, 255, .3);
    font-size: 30px;
    text-align: center;
    line-height: 70px;
    /* padding: 22px; */
    cursor: pointer;
}

.edit_profile:hover {
    background: rgba(255, 255, 255, .7);
}

/* apply_for_election */
.panel-default>.panel-heading {
    background-color: #ccc;
}
.src-image {
    display: none;
}
.card {
    overflow: hidden;
    position: relative;
    border: 1px solid #CCC;
    border-radius: 8px;
    text-align: center;
    padding: 0;
    background-color: #284c79;
    color: rgb(136, 172, 217);
}
.card .header-bg {
    /* This stretches the canvas across the entire hero unit */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    border-bottom: 1px #FFF solid;
    /* This positions the canvas under the text */
    z-index: 1;
}

.card .avatar {
    position: relative;
    margin-top: 15px;
    z-index: 100;
}

.card .avatar img {
    width: 100px;
    height: 100px !important;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(0, 0, 30, 0.8);
}

/* candidate details */
.details_hc{
    position: relative;
    bottom: 50px;
    padding: 0px 18px;
}
.details_heart{
    cursor: pointer;
    font-size: 31px;
    color: #fff;
    float: right;
}

.details_heart.active{
    color: #ea000d;
}

/* view_blogs */
.blog_edit{
    float: right;
    font-size: 18px;
    height: 25px;
    width: 25px;
    text-align: center;
}
.bloger_name{
    width: 150px;
    overflow: hidden;
    text-align: left;
}
.post-thumb{
    height: 250px;
    border: 1px solid #ddd;
}
.categori-list-img{
    height: 115px;
    width: 100px;
}
.round_pro_pic_thumb{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    overflow: hidden;
    float: left;
    margin-top: 8px;
}
.blog_list_round_pro_pic_thumb{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    overflow: hidden;
    float: left;
}

.blog-tag .student_name{
    font-size: 17px;
    margin-left: 78px;
}

.comment_pic_thumb{
    height: 102px !important;
    width: 102px;
}

.list_heart{
    cursor: pointer;
}
.list_heart.active>i, .list_heart i:hover{
    color: #ea000d;
}


/* chat box */
.chat-box{
    width: 300px;
    box-shadow: 1px 1px 6px 1px grey;
    border-radius: 0 0 6px 6px;
    position: fixed;
    bottom: 1%;
    left: 75%;
    z-index: 99;
    display: none;
}
.mini_chat{ 
    text-align: center;
    bottom: 35px;
    cursor: pointer;
    position: fixed;
    right: 83px;
    z-index: 9999;
    font-size: 35px;
    background: transparent !important;
    color:#7f7f7f;
}
.mini_chat::after,.mini_chat::before,.mini_chat:hover{
  background-color: transparent !important; 
  color:  #ea000d;
}
.chat-box div.header{
    padding: 10px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    background-color: #2C2761;
}
.chat-box .header .mini{
  text-align: right;
  float: right;
  font-size: 35px;
  cursor: pointer;
  line-height: 16px;
}
.chat-box .messages{
    padding: 10px;
    height: 200px;
    color:white;
    background-color: rgb(237, 239, 244);
    overflow-y: scroll;
}

.chat-box .messages ul, .chat_details .messages ul{
    padding: 0px;
    list-style-type: none;
}

.chat-box .messages ul li, .chat_details .messages ul li{
    margin-top: -20px;
    clear: both;
    padding:10px;
    padding-left: 10px;
    padding-right: 10px;
}

.chat-box .messages ul li span, .chat_details .messages ul li span{
    display: inline-block;
    max-width: 200px;
    background-color:  #5656bb;
    color: #FFF;
    padding: 5px;
    border-radius: 4px;
    position: relative;
    border-width: 1px;
    border-style: solid;
    border-color: grey;
}

.chat-box .messages ul li span.left, .chat_details .messages ul li span.left{
    float: left;
}

.chat-box .messages ul li span.left:after, .chat_details .messages ul li span.left:after{
    content: "";
    display: inline-block;
    position: absolute;
    left: -8.5px;
    top: 7px;
    height: 0px;
    width: 0px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid  #5656bb;
}

.chat-box .messages ul li span.left:before, .chat_details .messages ul li span.left::before{
    content: "";
    display: inline-block;
    position: absolute;
    left: -9px;
    top: 7px;
    height: 0px;
    width: 0px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid white;
}

.chat-box .messages ul li span.right:after, .chat_details .messages ul li span.right:after{
    content: "";
    display: inline-block;
    position: absolute;
    right: -8px;
    top: 6px;
    height: 0px;
    width: 0px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 10px solid  #5656bb;
}

.chat-box .messages ul li span.right:before, .chat_details .messages ul li span.right:before{
    content: "";
    display: inline-block;
    position: absolute;
    right: -5px;
    top: 6px;
    height: 0px;
    width: 0px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid  #5656bb;
}

.chat-box .messages ul li span.right, .chat_details .messages ul li span.right{
    float: right;
    background-color:  #5656bb;
    margin-right: -12px;    
}

.chat-box .clear, .chat_details .clear{
    clear: both;
}

.chat-box .input-box, .chat_details .input-box{
    background-color: white;
    border-radius: 0 0 6px 6px;
    height: 32px;
    padding: 3px;
}

.chat-box .input-box input, .chat_details .input-box input{
    padding: 0px;
    width: 275px;
    height: 30%;
    display: inline-block;
    outline: 0px;
    resize: none;
    border:none;
    font-size: 12px;
    padding: 10px;
}
.chat-box input,input::-webkit-input-placeholder , .chat_details input,input::-webkit-input-placeholder{
    font-size: 15px;
}

/* chat list */
.chat_list{
    height: 80px;
    padding: 10px;
    background-color: #7f7f7f;
    margin: 6px 0px;
    border-radius: 30px;
}
.chat_list:hover{
    background-color: #777;
}
.chat_list_read{
    background-color: #ccc;
}
.chat_list_pic{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    overflow: hidden;
    float: left;
}

.chat_list_info{
    margin-left: 75px;
    height: 100%;
    padding-top: 5px;
}
.chat_details{
    height: 500px;
    width: 100%;
    background-color: #ccc;
    margin: 0;
    padding: 25px;
}
.chat_details .messages{
    padding: 10px;
    height: 100%;
    color: black;
    overflow-y: scroll;
}
.chat_details_input input{
    width: 100% !important;
    height: 100% !important;
}
.chat_details_input{
    padding: 0 !important;
    height: 40px !important;
    position: relative;
    bottom: 20px;
}